<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="lect_2.Properties.Settings.HotelDBConnectionString"
      connectionString="Data Source=PORTABLE-LAPTOP;Initial Catalog=HotelDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.HotelDBConnectionString"
      connectionString="&#xD;&#xA;        &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xD;&#xA;        &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xD;&#xA;        &lt;ConnectionString&gt;Data Source=PORTABLE-LAPTOP;Initial Catalog=HotelDB;Integrated Security=True&lt;/ConnectionString&gt;&#xD;&#xA;        &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xD;&#xA;        &lt;/SerializableConnectionString&gt;&#xD;&#xA;      "
      providerName="" />
    <add name="WindowsFormsApp1.Properties.Settings.HotelDBConnectionString1"
      connectionString="Data Source=PORTABLE-LAPTOP;Initial Catalog=HotelDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>